.catalog {
  padding: 200px 0 50px 0;
  position: relative;
  background: linear-gradient(transparent 25px, $dark-gray 25px, $dark-gray 29px, transparent 30px),
              linear-gradient(transparent 40px, $dark-gray 40px, $dark-gray 44px, transparent 45px),
              linear-gradient(transparent 55px, $dark-gray 55px, $dark-gray 59px, transparent 60px),
              linear-gradient(transparent 70px, $dark-gray 70px, $dark-gray 74px, transparent 75px),
              linear-gradient(transparent 85px, $dark-gray 85px, $dark-gray 89px, transparent 90px),
              linear-gradient(transparent 100px, $dark-gray 100px, $dark-gray 104px, transparent 104px),
              linear-gradient(transparent 92%, $dark-gray 92.1%, $dark-gray 93%, transparent 93.1%),
              no-repeat left 201% url("../img/bg-guitar.png");

  &:after {
    display: block;
    position: absolute;
    bottom: 60%;
    right: 0;
    width: 50%;
    height: 300px;
    transform: rotate(180deg);
    content: '';
    background: no-repeat url("../img/bg-guitar.png");
  }

  h1 {
    font-weight: 700;
    font-size: 22px;
    margin: 0 0 20px 0;
  }
}

.catalog__breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  a {
    font-size: 16px;
    color: $crumbs;
    margin-right: 10px;
  }

  svg {
    margin-right: 10px;
  }
}

.filter {
  h2 {
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 30px 0;
  }
}

.filter__item {
  border-top: 1px solid $line;
  padding: 30px 0;

  h2 {
    margin: 0 0 24px 0;
  }
}

.filter__item-fields {
  display: flex;
  align-items: center;

  div {
    width: 14px;
    height: 1px;
    background-color: $gray-hover;
    margin: 0 13px;
  }

  input {
    width: 84px;
    height: 28px;
    border-radius: 2px;
    border: 1px solid $culc;

    &::placeholder {
      font-size: 14px;
      color: rgba($black, 0.6);
      text-align: center;
    }
  }
}

.filter__item-check {


  label {
    display: block;
    margin-bottom: 10px;

    &:hover::before {
      border-color: $gray-hover;
    }

    &:active::before {
      border-color: $gray;
    }

    &::before {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      content: '';
      border: 1px solid $gray-active;
      border-radius: 2px;
      margin-right: 5px;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input:checked+label::before {
    background: no-repeat center url("../img/mark.png");
  }

}


