.main {
  flex: 1;
  padding: 213px 0 138px 0;
  position: relative;
  background: no-repeat center 24px/100% 74px url("../img/lines.png"),
    linear-gradient(transparent 99%, $dark-gray 99%, $dark-gray 99.4%, transparent 99.4%),
    no-repeat left bottom url("../img/bg-bottom.png");

  &_basket {
    padding: 237px 0 172px 0;
    background: no-repeat center 24px/100% 74px url("../img/lines.png"),
      linear-gradient(transparent 98%, $dark-gray 98%, $dark-gray 98.5%, transparent 98.5%),
      no-repeat left bottom url("../img/bg-bottom.png");
  }

  &::after {
    display: block;
    position: absolute;
    top: -30px;
    right: 0;
    width: 819px;
    height: 285px;
    transform: rotate(180deg);
    content: "";
    background: no-repeat url("../img/bg-guitar.png");
  }

  h1 {
    font-weight: 700;
    font-size: 22px;
    margin: 0 0 21px 0;
    letter-spacing: 0.03em;
  }
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
}

.main__breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 51px;

  &_basket {
    margin-bottom: 29px;
  }

  a {
    font-size: 16px;
    color: $crumbs;
    margin-right: 10px;
    letter-spacing: 0.04em;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  svg {
    margin-right: 10px;
  }
}
