
//colors
$black: #000000;
$white: #ffffff;
$gray: #c1c1c1;
$bg-header: #1e0906;
$culc: #9f9e9e;
$line: #dddada;
$crumbs: #474747;
$gray-hover: #585757;
$gray-active: #9f9e9e;
$dark-gray: #3f3f3f;
$red: #f20505;
$orange: #e27f00;
$orange-active: #da8b26;
$orange-hover: #ffa839;
$yellow: #ffd168;
$disabled: #dddddd;
$bg-disabled: #f7f3f3;

//fonts
$droid: "droidSans", tahoma, sans-serif;
$pop: "poppins", tahoma, sans-serif;
