
//colors
$black: #000000;
$white: #ffffff;
$gray: #C1C1C1;
$culc: #9F9E9E;
$line: #DDDADA;
$crumbs: #474747;
$gray-hover: #585757;
$gray-active: #9F9E9E;
$dark-gray: #3F3F3F;
$red: #F20505;
$orange: #E27F00;
$orange-active: #DA8B26;
$orange-hover: #FFA839;
$yellow: #FFD168;

//fonts
$droid: "Droid Sans", tahoma, sans-serif;
